0 9 1-31/7 * * /usr/bin/jsub -mem 10g -N similarity_update -once /data/project/similarity/www/python/venv/bin/python3 /data/project/similarity/similarity/scripts/populate_elasticsearch.py 1449230 http://tools-elastic-01.tools.eqiad.wmflabs:80/similarity/needs_references --auth /data/project/similarity/.elasticsearch.ini --max_es_qps 10
