0 9 1-31/7 * * /usr/bin/jsub -mem 10g -N similarity_update -once /data/project/similarity/www/python/venv/bin/python3 /data/project/similarity/www/python/src/similarity/populate_elasticsearch.py 1449230 --max_es_qps 10
