docopt==0.6.2
Flask==1.0
lxml==4.0.0
mwparserfromhell==0.5
requests==2.31.0
mwapi==0.5.0
newspaper3k==0.2.5
# Pillow is a dependence of newspaper3k, not ours, but --disable-jpeg is
# required on Toolforge so we list it here to pass that option.
Pillow>=0.3.0 --global-option="build_ext" --global-option="--disable-jpeg"
